a, a:hover, button a, button a:hover {
    text-decoration: none;
}

section .welcome .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

button.btn.btn-outline-primary {
    padding: 1vh 0;
    margin-top: 5vh;
}

button a {
    padding: 2vh 2vw;
}

.success {
    background: lightgreen;
    padding: 5px;
}

.danger {
    background: pink;
    margin: 5px;
}

.header-middle .navbar-nav {
    flex-direction: row;
}

.header-middle .navbar-nsav > li {
    padding: 20px;
}

.create-page-form {
    display: flex;
    align-items: flex-start;
}

form .form-group input, form .form-group textarea, form .form-group button {
    margin-top: 2vh;
    width: 40vw;
}

.pages-list .page {
    display: flex;
    flex-direction: row;
    width: 70vw;
    border-bottom: 1px solid black;
    justify-content: space-between;
}

.pages-list .page .page-control-btns {
    display: flex;
    flex-direction: column;
}

.pages-list .page .page-control-btns .btn-outline-danger a {
    color: red;
}

form .courier-form {
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
}

form .courier-form label {
    margin: 2vh 0 2vh 0;
}

.couriers-timetable {
    display: flex;
    flex-direction: column;
}

.couriers-timetable .timeline {
    display: flex;
    flex-direction: column;
}

.couriers-timetable .courier {
    display: flex;
    width: 100%;
    background-color: #7dc8c121;
    margin: 2vh 0 2vh 0;
    padding: 2vw;
}

.couriers-timetable .courier .c-text-data {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

.couriers-timetable .courier .c-text-data p{
    margin: 0 1vw 0 1vw;
}

.c-time p:nth-last-child {
    background-color: rgba(255, 0, 0, 0.38);
}

.c-date {
    display: flex;
    flex-direction: column;
}

.c-date p, .c-time p {
    width: 8vw;
    padding: 10px;
    border-radius: 5px;
}

.c-date p:nth-child(2), .c-time p:nth-child(2) {
    background-color: rgba(255, 0, 0, 0.38);
}

.c-date p:nth-child(1), .c-time p:nth-child(1) {
    background-color: rgba(134, 255, 60, 0.38);
}

.timetable-header {
    display: flex;
    justify-content: space-between;
}